.cartitems {
    margin: 100px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    color: #454545;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;

}

.carticon-product-icon {
    height: 62px;

}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 100px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;

}

.checkout {
    margin-top: 20px;
    width: 500px;
    height: 58px;
    outline: none;
    border: none;
    background: #9041ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    cursor: pointer;
    transition: background 0.3s, font-size 0.3s;
}

.checkout:hover {
    background: #7b2eda; 
    font-size: 24px;
}

@media screen and (max-width:768px){
   .cartitems {
    margin: 100px 40px;
   } 

   .cartitems-format-main {
    font-size: 10px;
    gap: 20px;
   }

   .cartitems-remove-icon {
    width: 10px;
    margin: 0px 10px;
   }

   .checkout {
    width: 300px;
   }
}