.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin: 150px auto;
    margin-bottom: 1250px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 500px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap : 30px;
}

@media screen and (max-width : 768px) {
    .new-collections {
        width: 100%;
        margin: 0px auto;
        width: 90%;
        margin-bottom: 4500px;
    }

    .new-collections h1 {
        font-size: 20px;
    }

    .collections {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}